<div id="vcomments"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '#vcomments',
        appId: '<%= theme.comment.valine.valine_id %>',
        appKey: '<%= theme.comment.valine.valine_key %>',
        placeholder: '不要吝啬赞美的语句ヾﾉ≧∀≦)o!',
        avatar: 'mp',
        meta: ['nick','mail','link'],
        pageSize: 10,
        visitor: true,
        notify: true,
        verify: true
    })
    let info = document.querySelectorAll('#vcomments>.info')[0]
    if (info) { info.style.display = 'none' }
</script>