<% if (theme.customize.aging.enable) { %>
    <!-- 如果文章创建超过一年或最后一次更新时间超过一个月(默认)则提示文章过期 -->
    <% if ((post.date.format('YYYY') - moment().format('YYYY'))) { %>
        <div class="aging">
            <i class="fa fa-exclamation-circle aging-icon" aria-hidden="true"></i>
            <span class="aging-content">请注意：本文编写于 <span class="aging-content-date"><%= date(post.date, date_format) %></span>，其中某些信息可能已经失去时效性。</span>
        </div>
    <% } else if ((post.date.format('MM') - moment().format('MM'))) { %>
        <div class="aging">
            <i class="fa fa-exclamation-circle aging-icon" aria-hidden="true"></i>
            <span class="aging-content">请注意：本文编写于 <span class="aging-content-date"><%= date(post.date, date_format) %></span>，其中某些信息可能已经失去时效性。</span>
        </div>
    <% } %>
<% } %>