<% if (theme.customize.aging.enable) { %>
    <% if ((post.date.format('YYYY') - moment().format('YYYY'))) { %>
        <p>
            请注意：本文编写于 <%= date(post.date, date_format) %>，其中某些信息可能已经失去时效性。
        </p>
    <% } else if ((post.date.format('MM') - moment().format('MM'))) { %>
        <p>
            请注意：本文编写于 <%= date(post.date, date_format) %>，其中某些信息可能已经失去时效性。
        </p>
    <% } %>
<% } %>